.footer {
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  color: #eee;
}

.footer h5 {
  margin-top: 30px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer p {
  margin: 0;
  font-size: 1.0rem;
  color: #eee;
}

.footer .social-icons a {
  margin: 0 10px;
  color: #eee;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.footer .social-icons a:hover {
  color: #ccc;
}

.logo-link,
.contacts-link,
.about-link,
.license-link {
  cursor: pointer;
  text-decoration: none;
  color: #eee;
}

.logo-link:hover,
.contacts-link:hover,
.about-link:hover,
.license-link:hover {
  color: #ccc;
}

.border__top {
  border-top: 1px solid #ccc;
}

/* tablet e desktop */
@media (min-width: 991px) {
  .footer {
    margin-top: 120px;
    text-align: center;
  }

  .footer .social-icons {
    margin-top: 10px;
  }
}
